.rowComponent{
    overflow: hidden;
    padding:  0 1em;
    margin-top: 1em;
    &__title{
        font-size:  21px;
        font-weight: bold;
    }
    ul{
        display: flex;
        li{
            position: relative;
            margin-right: 1em;
            img{
                object-fit: contain;//Keep the size proportions
                transition: transform 450ms;
                border-radius:7px ;
            }
            img:hover{
                transform: scale(1.09)
            
            }
        }
    }
}