.row{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center center;
    // background-attachment: fixed;
    overflow: hidden;

    ul{
        display: flex;
        li{
            img{
                width: 200px;
                max-height: 150px;
                object-fit: contain;//Keep the size proportions
                transition: transform 450ms;
            }
            img:hover{
                transform: scale(1.09)
            
            }
        }
    }
}